* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(197, 0, 154, 0.699);
}

h1,
h2,
h4 {
    background-color: rgba(250, 202, 232, 0.836);
    font-size: 20px; 
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

img {
    height: auto;
    width: 300px;
}

li,
p {
    color: rgb(156, 3, 123);
    font-family: Arial, Helvetica, sans-serif;

}