* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(80, 13, 1, 0.87);
} 

h1,
h2,
h4 {
    background-color: rgba(252, 217, 172, 0.801);
    font-size: 20px;
}
    

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

img {
    height: auto;
    width: 300px;
}

li,
p {
    color: rgb(80, 13, 1);
}